## This is just an example configuration.
## Just changes the epic groups belows and the
## queries and rename the file to
## config.coffee


epicGroupsWithQuery.push ['Epic group 1', '"Epic Link" = SRM-488 or "Epic Link" = SRM-499 or "Epic Link" = SRM-537']
epicGroupsWithQuery.push ['Epic group 2', '"Epic Link" = SRM-567 or "Epic Link" = SRM-568 or "Epic Link" = SRM-536 or "Epic Link" = SRM-570']
epicGroupsWithQuery.push ['Epic group 3', '"Epic Link" = SRM-291 or "Epic Link" = SRM-313']
epicGroupsWithQuery.push ['Epic group 4', '"Epic Link" = SRM-491 or "Epic Link" = SRM-506']
epicGroupsWithQuery.push ['Epic group 5', '"Epic Link" = SRM-463']
epicGroupsWithQuery.push ['Epic group 6', '"Epic Link" = SRM-588 or "Epic Link" = SRM-586 or "Epic Link" = SRM-587']
epicGroupsWithQuery.push ['Epic group 7', '"Epic Link" = SRM-591 or "Epic Link" = SRM-592']




boardNames.push 'SIO'
boardQueries.push 'Project = SIO and createdDate > -24w'
groupedStatuses.push [
	["Open"], # column 1
	["Prioritised"], # column 2
	["In Development"], # ...
	["In Testing"],
	["Fix soon"],
	["Resolved", "Closed"]
]

boardNames.push 'SOA'
boardQueries.push 'Project = SOA and createdDate > -24w'
groupedStatuses.push [
	["Await Tech lead approval"], # column 1
	["Awaiting Development"], # column 2
	["In Development"], # ...
	["Awaiting Testing"],
	["In Testing"],
	["Fix soon"],
	["UAT"],
	["Resolved", "Closed"]
]

boardNames.push 'AMP'
boardQueries.push 'Project = AMP and createdDate > -24w'
groupedStatuses.push [
	["Awaiting Review", "Work Blocked"], # column 1
	["Open", "Reopened"], # column 2
	["Awaiting Development"], # ...
	["In Progress"],
	["Awaiting Testing", "In Testing", "Testing Blocked"],
	["Resolved"]
]

boardNames.push 'WPS'
boardQueries.push 'Project = WPS and createdDate > -24w'
groupedStatuses.push [
	["Await Tech lead approval"], # column 1
	["Awaiting Development", "Open", "Prioritised"], # column 2
	["In Development", "In Progress"], # ...
	["In Progress"],
	["Available for code review"],
	["Code Review"],
	["Travelling to Beta"],
	["Awaiting Testing"],
	["In Testing"],
	["Awaiting Triage"],
	["Fix soon"],
	["UAT"],
	["Resolved", "Closed"]	
]

boardNames.push 'SSP'
boardQueries.push 'Project = SSP and createdDate > -24w'
groupedStatuses.push [
	["Committed items"], # column 1
	["Work Blocked"], # column 2
	["In Progress"], # ...
	["Resolved"]	
]

